<launch>
    <!-- Tuttlesim Node -->
    <node pkg="ptu46" type="ptu46" name="ptu"/>
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>

    <node pkg="ptu46_teleop" type="ptu46teleop.py" name="ptu46teleop" output="screen"/>
    <node pkg="ptu46_teleop" type="android_proxy.py" name="android_proxy" output="screen"/>
</launch>
